<div class="flex flex-row items-center justify-between">
  <p><%= question_counter + 1 %>: <%= question.body %></p>
  <div class="flex gap-2">
    <%= link_to t('questions.show.view_answer'), question_path(question), class: "underline font-xs text-light" %>
    <%= link_to t('.edit_answer'), edit_question_path(question), class: "underline font-xs text-light" %>
    <%= button_to t('.delete_answer'), question_path(question), method: :delete, class: "underline font-xs text-light text-red-600", form: { data: { turbo_confirm: t('.delete_confirmation') } } %>
  </div>
</div>
