<h1>New Question for Test <%= @test.id %></h1>

<%= form_with(url: test_questions_path(@test), local: true) do |form| %>
  <p>
    <%= form.label :body, "Question Text" %>
    <%= form.text_area :body, id: "body", name: "question[body]" %>
  </p>
  <%= form.submit "Create" %>
<% end %>

<%= link_to 'Back', test_questions_path(@test) %>