<h1 class="my-4 font-normal text-gray-700">Welcome to Test Guru! There are tests available:</h1>
<div class="grid grid-cols-4 gap-4">
  <% @tests.each do |test| %>
    <div class="flex flex-col items-start justify-start gap-y-3 p-2 border rounded-lg shadow bg-slate-100">
      <h3 class="font-bold text-lg w-full border-b-2"><%= test.title %></h3>
      <div class="flex flex-row gap-1 items-center justify-between w-full">
        <div class="flex flex-col items-center">
          <p class="font-bold">Category</p>
          <p><%= test.category.title %></p>
        </div>
        <div class="flex flex-col items-center">
          <p class="font-bold">Level</p>
          <p><%= test.level %></p>
        </div>
      </div>
      <div class="flex flex-col gap-1 w-full">
        <p class="font-semibold">Questions List:</p>
        <% test.questions.each_with_index do |question, index| %>
          <div class="flex flex-row justify-between">
            <p><%= index + 1 %>:</span> <%= question.body %></p>
            <div class="flex gap-2">
              <%= link_to 'Edit', edit_question_path(question), class:"underline font-xs text-light" %>
              <%= button_to 'Delete', question_path(question), class:"underline font-xs  text-light text-red-600", method: :delete %>
            </div>
          </div>
        <% end %>
      </div>  
      <div class="flex flex-col">
        <p class="font-semibold">Actions:</p>
        <%= link_to 'Create new Question', new_test_question_path(test), class:"underline" %>
      </div>
    </div>
  <% end %>
</div>
