<h1 class="my-4 font-normal text-gray-700">Test Details</h1>
<div class="flex flex-col items-start justify-start gap-y-3 p-2 border rounded-lg shadow bg-slate-100 w-full max-w-3xl">
  <h3 class="font-bold text-lg border-b-2 w-full"><%= @test.title %></h3>
  <div class="flex flex-row gap-1 items-start justify-between w-full">
    <div class="flex flex-col items-center">
      <p class="font-bold">Category</p>
      <p><%= @test.category.title %></p>
    </div>
    <div class="flex flex-col items-center">
      <p class="font-bold">Level</p>
      <p><%= test_level(@test.level) %></p>
    </div>
    <div class="flex flex-col items-center">
      <p class="font-bold">Author</p>
      <p><%= @test.author.name %></p>
    </div>
  </div>
  <div class="flex flex-col gap-1 w-full ">
    <p class="font-semibold">Questions List:</p>
    <% @test.questions.each_with_index do |question, index| %>
      <div class="flex flex-row items-center justify-between">
        <p><%= index + 1 %>: <%= question.body %></p>
        <div class="flex gap-2">
          <%= link_to 'View', question_path(question), class:"underline font-xs text-light" %>
          <%= link_to 'Edit', edit_question_path(question), class:"underline font-xs text-light" %>
          <%= button_to 'Delete', question_path(question), method: :delete, class:"underline font-xs text-light text-red-600", form: { data: { turbo_confirm: 'Are you sure you want to delete this question?' } } %>
        </div>
      </div>
    <% end %>
  </div>  
  <div class="flex flex-col">
    <p class="font-semibold">Actions:</p>
    <%= link_to 'Create new Question', new_test_question_path(@test), class:"underline" %>
    <%= link_to 'Edit Test', edit_test_path(@test), class:"underline" %>
    <%= button_to 'Delete Test', test_path(@test), method: :delete, class:"underline text-red-600", form: { data: { turbo_confirm: 'Are you sure you want to delete this test?' } } %>
    <%= link_to 'Back to Tests', tests_path, class:"underline" %>
  </div>
</div>
